{{/* Partial Disqus para Hextra */}}
{{ $shortname := .Site.Params.disqusShortname }}
{{ if $shortname }}
<section id="comments" class="hx:mt-12 hx:mb-12">
    <h2 class="hx:text-2xl hx:font-bold hx:mb-4">💬 Comentários</h2>

    {{ if or (not .Params.disable_comments) (not (isset .Params "disable_comments")) }}

    <div id="disqus_thread"></div>

    <script>
        window.disqus_config = function () {
            {{ with .Params.disqus_identifier }}
            this.page.identifier = '{{ . }}';
            {{ else }}
            this.page.identifier = '{{ .File.Path }}';
            {{ end }}

            {{ with .Params.disqus_title }}
            this.page.title = '{{ . }}';
            {{ else }}
            this.page.title = '{{ .Title }}';
            {{ end }}

            this.page.url = '{{ .Permalink }}';
        };

        (function() {
            if (["localhost","127.0.0.1"].indexOf(window.location.hostname) != -1) {
                document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available locally.';
                return;
            }
            var d = document, s = d.createElement('script');
            s.src = '//{{ $shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

    <noscript>
        Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>

    {{ else }}
    <p>Comentários desativados neste post.</p>
    {{ end }}
</section>
{{ end }}
