<footer class="hextra-footer hx:bg-gray-100 hx:pb-[env(safe-area-inset-bottom)] hx:dark:bg-neutral-900 hx:print:bg-transparent">
    <div class="hx:mx-auto hx:flex hx:justify-center hx:py-4 hx:px-4 hextra-max-footer-width">
        {{ partial "theme-toggle.html" . }}
    </div>
</footer>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-TE926Z2M83"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TE926Z2M83');
</script>